@use "../../main.scss" as *;

.footer-conteneur {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", serif;
  background-color: $secondary-bg-color;
  color: $contraste-color;
  .modal-conteneur {
    margin-top: 20px;
    .modal-btn {
      border: none;
      background: none;
      color: $contraste-color;
      text-decoration: underline;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .footer-title {
    font-size: 2.4rem;
    text-align: center;
  }
  a {
    color: $contraste-color;
  }
  .mail-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    a {
      color: $contraste-color;
      text-decoration: none;
      font-size: 1.15rem;
      &:visited {
        text-decoration: none;
      }
    }
  }
  .reseaux {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 25px;
  }
  .contact-form {
    display: flex;
    flex-direction: column;

    .submit-btn {
      margin-top: 10px;
      width: 50%;
      height: 30px;
      align-self: center;
      border-radius: 10px;
      border: $bg-color solid 2px;
      color: $contraste-color;
      background-color: $main-text-color;
    }
    label {
      font-size: 1.25rem;
      margin-bottom: 5px;
      margin-top: 15px;
      color: $contraste-color;
    }
    .input {
      width: 350px;
      border-radius: 8px;
      border: $bg-color solid 2px;
    }
    .email-input {
      height: 25px;
    }
    .message-input {
      height: 200px;
    }
  }
}

@media (max-width: 720px) {
  .footer-conteneur {
    .contact-form {
      justify-content: center;
      align-items: center;
      .input {
        width: 250px;
      }
    }
  }
}
