@use "../../main.scss" as *;

.prestation-conteneur {
  display: flex;
  flex-wrap: wrap;
  // gap: 2rem;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  .presta-card {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    width: 45%;
    height: 220px;
    background-color: $secondary-bg-color;
    border-radius: 15px;
    border: solid 2px $btn-color;
    & img {
      max-width: 30%;
      height: 100%;
      object-fit: cover;
      border-radius: 14px;
    }
  }

  .presta-card-contenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 100%;
    .presta-card-conteneur {
      display: flex;
      align-items: center;
      gap: 20%;
      width: 100%;
    }
    h2 {
      font-family: "EB Garamond", serif;
      margin: 3px 0 5px 0;
      font-size: 1.75rem;
    }

    .presta-card-content {
      margin: -15px 0 5px 0;
      // text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      color: rgb(47, 58, 51);
    }
    .presta-card-prix {
      font-weight: bold;
      margin-top: 5px;
    }
    .cta-conteneur {
      align-self: center;
    }
  }
}

@media (max-width: 1440px) {
  .prestation-conteneur {
    .presta-card {
      .presta-card-contenu {
        .presta-card-conteneur {
          display: flex;
          align-items: center;
          gap: 10%;
          width: 100%;
        }
        .presta-card-prix {
          font-weight: bold;
          margin-top: 5px;
        }
      }
    }
  }
}

@media (max-width: 1080px) {
  .prestation-conteneur {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 5%;
    padding: 1rem;

    .presta-card {
      width: 80%;
      .presta-card-contenu {
        .presta-card-conteneur {
          .presta-card-prix {
            font-weight: bold;
            margin-top: 5px;
            width: 117.5px;
          }
        }
      }
    }
  }
}

@media (max-width: 720px) {
  .prestation-conteneur {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 4%;
    .presta-card {
      width: 100%;
      height: 190px;
      & img {
        max-width: 25%;
      }
    }
  }
}

@media (max-width: 480px) {
  .prestation-conteneur {
    .presta-card {
      width: 100%;
      height: 160px;
      & img {
        display: none;
      }
    }
    .presta-card-contenu {
      align-items: center;
      height: 100%;
      .presta-card-content {
        text-align: center;
      }
      .presta-card-conteneur {
        justify-content: center;
      }
    }
  }
}
