@use "../../main.scss" as *;

.prestation-conteneur {
  display: flex;
  flex-wrap: wrap;
  // gap: 2rem;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  .presta-card {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    width: 45%;
    // max-width: 500px;
    background-color: $secondary-bg-color;
    border-radius: 15px;
    border: solid 2px $btn-color;
    height: 220px;
  }
  .presta-card img {
    width: 30%;
    height: 100%;
    object-fit: cover;
    border-radius: 14px;
  }

  .presta-card-contenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 100%;
    .presta-card-conteneur {
      display: flex;
      align-items: center;
      gap: 20%;
      width: 100%;
    }
    h3 {
      font-family: "EB Garamond", serif;
      margin: 3px 0 5px 0;
      font-size: 1.75rem;
    }

    .presta-card-content {
      margin: -15px 0 5px 0;
    }
    .presta-card-prix {
      font-weight: bold;
      margin-top: 5px;
    }
    .cta-conteneur {
      align-self: center;
    }
  }
}
