@use "../../main.scss" as *;

.about-conteneur {
  display: flex;
  padding: 200px 35px 50px 35px;
  justify-content: center;
  align-items: center;
  .about-image {
    height: 400px;
    width: 420px;
    border-radius: 50px;
  }
  .about-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      width: 80%;
      text-align: center;
    }
    h2 {
      margin: 0;
    }
  }
}
