@use "../../main.scss" as *;

.main-conteneur {
  height: 100%;
  h1,
  h2 {
    // font-family: "Playfair Display", serif;
    font-family: "EB Garamond", serif;
    font-size: 3.3rem;
    color: $text-color;
  }

  a,
  p,
  h3 {
    font-family: "Nunito";
    font-size: 1.2rem;
    color: $text-color;
  }

  // Gestion dividers
  .divider {
    background-color: $secondary-bg-color;
    height: 50px;
  }
  .small {
    height: 25px;
  }

  // Sections
  section {
    background-color: $bg-color;
    height: 80vh;
  }
  .about-me {
    display: flex;
    justify-content: center;
    height: 60vh;
  }
  .prestation {
    height: 50vh;
  }
  .local-seo {
    height: 40vh;
  }

  .bold-text {
    font-weight: bold;
  }

  .conteneur {
    background-color: $secondary-bg-color;
    padding-left: 50px;
    padding-right: 50px;
    .prestation {
      background-color: $bg-color;
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        margin-top: 0;
        padding-top: 0;
      }
    }
  }
}
