@use "../../main.scss" as *;
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $secondary-bg-color;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: sticky;
  top: 0;
  z-index: 100;
  .logo {
    height: 75px;
    margin-left: 20px;
  }
  nav {
    display: flex;
    gap: 20px;
    a {
      font-size: 1.7rem;
      text-decoration: none;
      font-weight: bold;
      color: $main-text-color;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    }
  }
}

@media (max-width: 720px) {
  header {
    .logo {
      height: 50px;
    }
    nav {
      a {
        font-size: 1.45rem;
      }
    }
  }
}

@media (max-width: 480px) {
  header {
    .logo {
      height: 30px;
      margin-left: 5px;
    }
    nav {
      a {
        font-size: 1.15rem;
      }
    }
  }
}
