@use "../../main.scss" as *;

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  .modal-content {
    background: white;
    border-radius: 10px;
    padding: 30px;
    width: 90%;
    max-width: 700px;
    max-height: 400px;
    overflow-y: auto;
    position: relative;

    .modal-title {
      align-self: center;
      text-align: center;
      margin-bottom: 2px;
      margin-top: 2px;
      font-size: 2.1rem;
    }
    .modal-text {
      text-align: center;
      font-weight: bold;
      color: $text-color;
    }
    .modal-close {
      position: absolute;
      top: 10px;
      right: 15px;
      background: none;
      border: none;
      font-size: 1.3rem;
      font-weight: bold;
      cursor: pointer;
    }

    .modal-body {
      margin-top: 20px;
      line-height: 1.6;
      text-align: justify;
      width: 100%;
      height: 100%;
      .prestation-conteneur {
        .presta-card {
          width: 100%;
          .presta-card-prix {
            color: $text-color;
          }
          .presta-card-content {
            color: $text-color;
          }
          .presta-card-title {
            color: $text-color;
          }
        }
      }
    }
  }
}

@media (max-width: 720px) {
  .modal-overlay {
    .modal-content {
      .modal-title {
        font-size: 1.8rem;
      }
    }
  }
}
@media (max-width: 480px) {
  .modal-overlay {
    .modal-content {
      width: 100%;
      padding: 5px;
      .modal-title {
        font-size: 1.5rem;
      }
    }
  }
}
