@use "../../../main.scss" as *;

.carte-offre {
  width: 100%;
  height: 100%;
  .main-content {
    display: flex;
    gap: 5%;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70%;
    margin-top: 20px;
    &-img {
      width: 300px;
      height: 300px;
      border-radius: 20px;
      border: solid 5px $secondary-bg-color;
    }
    &-text {
      text-align: center;
      font-size: 1.5rem;
      margin-top: 0;
    }
    &-left {
      .price {
        margin-bottom: 0;
      }
    }
  }
  .modal-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    a {
      text-decoration: none;
      &:visited {
        text-decoration: none;
      }
    }
    .item {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;
      width: 300px;
    }
  }
}

@media (max-width: 720px) {
  .carte-offre {
    .main-content {
      &-img {
        width: 275px;
        height: 275px;
      }
      &-text {
        font-size: 1.4rem;
      }
    }
  }
}

@media (max-width: 480px) {
  .carte-offre {
    .main-content {
      flex-direction: column;
      &-img {
        margin-top: 20px;
        width: 275px;
        height: 275px;
      }
      &-text {
        font-size: 1.4rem;
      }
    }
  }
}
