//Couleurs principales du site
$bg-color: #f5f3eef6;
$secondary-bg-color: #a8b5a2;
$btn-color: #e7d8c9;
$main-text-color: #eeeadf;
$text-color: #4f6149;
$contraste-color: rgb(47, 58, 51);

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-overlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
}

.animation-slide {
  animation: slide-in-right 0.4s ease-in-out forwards;
}

// og

// $main-text-color: #eeeadf;
// $secondary-bg-color: #a8b5a2;
