//Couleurs principales du site
$bg-color: #f5f3eef6;
$secondary-bg-color: #a8b5a2;
$btn-color: #e7d8c9;
$main-text-color: #eeeadf;
$text-color: #4f6149;
$contraste-color: rgb(47, 58, 51);

// og

// $main-text-color: #eeeadf;
// $secondary-bg-color: #a8b5a2;
