@use "../../main.scss" as *;

.cta-conteneur {
  button {
    background-color: $btn-color;
    color: white;
    font-weight: bold;
    border: none;
    // border-radius: 20px;
    font-size: 1.5rem;
    padding: 9px 9px 9px 9px;
    transition: all 0.3s ease;
    &:hover {
      cursor: pointer;
      background-color: $bg-color;
      color: $btn-color;
    }
  }
}
